body{background-color: white;}

.container-navbar{
  background-color:black;
  
}
.logo{
  height: 60px;
  width: 100px;
  margin: 10px;
    background-color: black;
  color: black;
}
.list-elements{background-color: black;
  float: right;
  list-style: none;
}
.list-elements li{
  float: left;
  padding: 10px;
  padding-right: 20px;
  font-size: 25px;
}
.list-elements a{
  text-decoration: none;
  color:white;
}

.lead{float: right;
font-size: xx-large;}

h1{margin-left: 30%;}

.col-lg-6>p{font-size: 1.5rem;}